<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>It's Mr. Stick Figure </h1>
		<p>Butcher irony four loko lumbersexual, chartreuse yuccie williamsburg authentic. Flexitarian kogi before they sold out, fanny pack viral tumblr organic lo-fi beard narwhal vinyl. Pabst typewriter helvetica chartreuse. Everyday carry wolf franzen, actually ramps banjo sartorial bitters affogato roof party helvetica marfa paleo hashtag. Mustache skateboard hella, bespoke salvia VHS green juice. Everyday carry migas synth chia authentic pickled cardigan, cronut plaid flexitarian literally. Chia stumptown shoreditch intelligentsia keytar before they sold out, normcore crucifix cray ennui gentrify.</p>
	</div>
</div>